.Navbar {
  display: flex;
  flex-direction: row;
  height: 9rem;
  background-color: #000000;
}

.nav__name {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #d8bc1a;
}

.nav__name img {
  padding: 2rem;
}

.nav__networkSelector {
  display: flex;
  flex: 1;
  align-items: center;
}

.nav__networkSelector select {
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4em;
  margin: 2rem;
  background-color: #333;
  color: white;
}

.nav__balance {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav__balance-box {
  border: 2px solid white;
  border-radius: 2rem;
  flex: 1;
  height: 2.5rem;
  margin: 2rem 4rem;
  cursor: pointer;
}

.nav__myBalance {
  color: white;
}

.nav__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav__profile:hover .nav__dropdown {
  display: block;
}

.nav__dropdown {
  display: none;
  position: absolute;
  width: 500%;
  top: 100%;
  right: 0;
  background: #333;
  border: 2px solid white;
  padding: 1rem;
  z-index: 10;
}

.nav__dropdown p {
  color: white;
  margin: 0.5rem 0;
}

.identicon {
  margin-left: 0.5rem;
}
.navProfileContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}